<ul class="carousel">
    {% for item in elements %}
        <li class="carousel-item {% cycle 'odd' 'even' %}">
            {% if item.url %}<a href="{{ item.url }}" class="external">{% endif %}
            <img src="{{ item.image_url }}"
                 alt="carousel_item"
                 title="{{ item.name }}"
                 {% if size %}
                    height="{{ item.image.height }}"
                    width="{{ item.image.width }}"
                {% endif %} />
            {% if item.url %}</a>{% endif %}
        </li>
    {% endfor %}
</ul>
